body {
font-family:'Times New Roman', Times, serif; font-size: 16px;
font-weight: 400;
line-height: 1.5; letter-spacing: 0.5px; text-align: left;
background-color: rgb(12, 165, 207);
}

h1{
    text-align: center; text-transform: uppercase;
}

.box {
width: 500px;
padding: 20px;
border: 1px solid black; margin: 10px;
}

section image{
    width: 150px

}
#nav{
list-style: none; 
padding: 0; 
margin: 0; 
display: flex; 
justify-content: 
center; 
gap: 
20px;
}

#nav a:hover {
  color: white;
  background-color: rgb(189, 65, 65);
}


