# Mac system files
.DS_Store

# IntelliJ IDEA
.idea/          # project metadata
*.iml           # module files
out/            # compiled output
*.class         # compiled Java files
*.xml           # IDE or project configuration files

# Python
__pycache__/    # cache folders
*.pyc           # compiled Python files
