# Mac system files
.DS_Store

# IntelliJ IDEA
.idea/          # ignore all IDE metadata and configs
out/            # compiled Java output
*.class         # compiled Java files

# Python
__pycache__/    # cache folders
*.pyc           # compiled Python files
.idea/vcs.xml
.idea/workspace.xml
